@font-face { 
  font-family: "Roboto"; 
  src: url("./fonts/Roboto-Thin.ttf"); 
}

body, html, #root {
  width: 100%;
  height: 100%;
  margin: auto 0;
  background-color: whitesmoke;
  font-family: Roboto;
}

.main {
  display: flex;
  flex: 1;
  height: 100%;
  flex-direction: column;
}

.header {
  height: 3.125rem;
  background-color: #214F63;
  display: flex;
  align-items: center;
}

.header .title {
  color: white;
  font-weight: bold;
  font-size: 2rem;
  margin-left: 2rem;  
}

.app-container {
  display: flex;
  flex: 1;
}

.content-container {
  display: flex;
  flex: 1;
  flex-direction: column;  
}


.table {
  height: 15.625rem;
  border-top: 0.125rem solid #CCCCCC;
}

.map-controller {
  flex: 1;
}

.map-controller .map-node {
  height: 100%;
  width: 100%;
}

.layer-controller {
  width: 15.625rem;
  border-right: 0.125rem solid #CCCCCC;
  display: flex;
  flex-direction: column;
  padding: 1rem;  
}

.layer-controller .title {
  width: 100%;
  align-self: flex-start;
  vertical-align: middle;
  line-height: 2rem;
  font-weight: bold;
}

.layer-controller .list {
  margin-top: 1rem;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.layer-controller .list-entry {
  display: flex;
  padding: 0.25rem;
}

.layer-controller .layer-color {
  border: 1px solid;
  width: 1rem;
  height: 1rem;
  margin: 0 0.25rem;
}

.layer-controller .list-entry:hover {
  background-color: rgba(75, 180, 227, 0.25);
  color: #214F63;
}

.leaflet-tile-pane {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.leaflet-popup-content-wrapper,
.leaflet-popup-tip {
  background-color: whitesmoke;
  color: #214F63;
  font-size: small;
}